Package: fun.yfyf.elogwindow
Name: ELogWindow
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Shows the log on your screen
Maintainer: EVAN
Author: EVAN
Section: Tweaks
